.App {
  text-align: center;
}
.hackitFox{
  display: flex;
  justify-content: center;
}
.greenBall {
  position: absolute;

  left: 300px;
}
.hackitFoxSvg path#hackitFoxOutline {
  /* stroke-dasharray: 100;  */
  /* animation: dash 5s infinite; */
}

.hackitFoxSvg path{
  fill: rgb(230, 40, 110);
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}